# Dependências
node_modules/

# Build
dist/
dist-ssr/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Ambiente / segredos
.env
.env.local
.env.*.local

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Cache do Vite
.vite/
*.local
